section.prefooter {
  .grid {
    padding-top: 75px;
    padding-bottom: 75px;
    align-items: center;

    @include medium-up {
      padding-bottom: 96px;
    }

    .left {
      grid-column: span 7;

      @include medium-down {
        order: 2;

        .button {
          margin-top: 40px;
        }
      }
    }

    .right {
      grid-column: span 4;

      @include medium-down {
        order: 1;
        margin-bottom: 50px;
      }

      img {
        max-width: 335px;
        max-height: 476px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

footer.bottom {
  padding-top: 36px;
  padding-bottom: 26px;

  &:not(.blue) {
    border-top: 1px solid;
  }

  &.blue {
    background: $azul;
    color: $white;

    .copyright {
      color: #e6ebf2;
    }

    ul > li > a,
    p > a {
      &::after {
        background: white;
      }
    }
  }

  section + section {
    margin-top: 0;
  }

  h3 {
    @extend p;

    margin-bottom: 5px;
  }

  .grid {
    @include medium-down {
      grid-template-columns: repeat(2, 1fr);

      section {
        &:nth-of-type(1) {
          grid-column: span 2;
        }

        &:nth-of-type(2) {
          margin-top: 40px;
          margin-bottom: 40px;
          grid-column: span 2;
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          grid-column: span 1;
          margin-bottom: 75px;
        }
      }
    }

    p > a {
      text-decoration: none;

      @extend .underline;
    }
  }

  ul {
    @extend .unstyled;

    li + li {
      margin-top: 5px;
    }

    a {
      @extend .underline;
    }
  }
}