/**
 * Header
 */

$header: 82px;
$headerMobile: 52px;

header.top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(0);
  opacity: 1;
  z-index: 99;
  border-bottom: 1px solid;
  transition: all 100ms ease-in-out;
  max-height: $headerMobile;

  @include medium-up {
    max-height: $header;
  }

  &.transparent {
    background: transparent;
    color: white;

    .menu-main-container {
      ul > li > a {
        &::after {
          background: white;
        }
      }
    }
  }

  &.white {
    color: black;
    background: white;

    .menu-main-container {
      ul > li > a {
        &::after {
          background: black;
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;

    @include medium-up {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }

  a.brand {
    @include medium-down {
      svg {
        width: auto;
        height: 20px;
      }
    }
  }

  .js-menu-toggle {
    &:not(.active) > .close {
      display: none;
    }

    &.active > .open {
      display: none;
    }
  }
  
  .menu-main-container {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: inline-block;

        & + li {
          margin-left: 43px;
        }

        a {
          @extend .underline;
        }
      }
    }
  }
}

.offset-header {
  margin-top: $headerMobile;

  @include medium-up {
    margin-top: $header;
  }
}

header.page-header {
  padding-top: 55px;
  padding-bottom: 10px;

  @include medium-up {
    padding-top: 51px;
    padding-bottom: 60px;
  }

  & > * {
    margin: 0;
  }
}

/* Mobile Menu */
body.menu-open {
  height: 100vh;
  overflow: hidden;

  #mobile-menu {
    top: 0;

    li.visible {
      opacity: 1;
    }
  }

  header.top {
    background: transparent;
    color: white;
    border-color: transparent;
  }
}

#mobile-menu {
  position: fixed;
  top: -150vh;
  left: 0;
  right: 0;
  z-index: 70;
  height: 100vh;
  transition: all 0.5s ease-in-out;

  @include medium-up {
    display: none;
  }

  .wrapper {
    width: 100vw;
    height: 100vh;
    padding: 12px;
    background: $dark-blue-grey;
    color: $white;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    overflow: scroll;

    @include small-up {
      padding: 20px;
    }

    .top {
      margin-top: 60px;
      margin-bottom: 60px;

      @include small-up {
        margin-top: 100px;
        margin-bottom: 150px;
      }

      ul > li {
        & + li {
          margin-top: 5px;
        }

        a {
          font-size: 64px;
          line-height: 66px;
        }
      }
    }
    
    .bottom {
      ul > li {
        & + li {
          margin-top: 5px;
        }
      }
    }
  }
}
