/**
 * Global
 */
 * {
  outline: none;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;

  .loading-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    transform: scaleY(0) skewX(0);
    transform-origin: top left;
    transition: background 250ms ease-in-out;
  }
}

.barba-container {
  opacity: 0;
  transition: opacity 500ms 500ms ease-in-out;
  z-index: 2;

  &.visible {
    opacity: 1;
  }
}

/* Helpers */
figure {
  margin: 0;
  padding: 0;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.circle {
  position: relative;
  border-radius: 50%;
  line-height: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hover {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(18, 187, 164, 0.6);
    transition: opacity 250ms ease-in-out;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.border {
  border: 1px solid;
}

img {
  width: 100%;
  height: auto;
}

.border-top {
  border-top: 1px solid;
}

.border-bottom {
  border-bottom: 1px solid;
}

.hidden {
  display: none !important;
}

.rel {
  position: relative;
}

.text-center {
  text-align: center;
}

.small-text-center {
  @include medium-down {
    text-align: center;
  }
}

.text-right {
  @include medium-up {
    text-align: right;
  }

  &.always {
    text-align: right;
  }
}

.relative {
  position: relative;
}

.dib {
  display: inline-block;
  margin-right: $gap;
}

span.screen-reader-text {
  display: none;
}

/* Layout */
.container {
  padding-left: $spacer;
  padding-right: $spacer;
  margin-right: auto;
  margin-left: auto;

  &.endless {
    max-width: none;
  }

  &.full {
    padding-left: 0;
    padding-right: 0;
  }

  @include small-up {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include large-up {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include xl-up {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
}

.flex {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 100%;

  &.middle {
    justify-content: center;
  }

  &.centered {
    align-items: center;
  }

  &.spaced {
    flex-flow: row;
    justify-content: space-between;
  }
}

.pin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

section {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;

  &.fullpage {
    width: 100vw;
    height: 100vh;
  }

  &.full-height {
    height: 100vh;
  }

  & + section {
    margin-top: 50px;

    @include medium-up {
      margin-top: 60px;
    }
  }
}

/* Video */
.video-container {
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
  }
}

.scrollable {
  @include medium-up {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  &::-webkit-scrollbar {
    display: none;
  }

  & > header {
    @include medium-up {
      padding-left: 0;
    }
  }

  .scroll {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px;
    grid-auto-columns: 120px;
    grid-template-rows: minmax(120px, 1fr);
    grid-auto-flow: column;
    scroll-snap-type: x proximity;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-bottom: 50px;

    @include medium-down {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    @include medium-up {
      grid-gap: $gap;
      grid-template-columns: 200px;
      grid-auto-columns: 200px;
      grid-template-rows: minmax(200px, 1fr);
      padding-left: $gap;
    }
  
    @include large-up {
      padding-left: 40px;
    }
  
    @include xl-up {
      padding-left: 5vw;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    &::after {
      content: "";
      width: $gap;
    }
  }
}

/* Video */
video {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}

.big-video {
  @include medium-up {
    width: 75%;
    max-width: 1200px;
  }
}

.vimeo {
  border-radius: 40px;
  position: relative;
  padding-bottom: 56.29%;
  overflow: hidden;

  .vimeo-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    &.hidden {
      display: none;
    }
  }

  .pin {
    z-index: 3;

    svg {
      width: 26px;
      height: 26px;
      object-fit: contain;
      transition: transform 250ms ease-in-out;
    }

    &:hover svg {
      transform: scale(1.3);
    }
  }
}

.truncate {
  width: 100%;
  hyphens: auto;
  line-height: 1;
}

/* Animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(0);
  }
}
