body.home {
  width: 100vw;
  overflow-x: hidden;

  .loading-screen {
    background: $azul;
  }

  header.top {
    top: -100px !important;
    opacity: 0 !important;
  }

  &.show-header {
    header.top {
      opacity: 1 !important;
      top: 0 !important;
      transition: all 500ms ease-in-out;
    }
  }

  .prefooter {
    .button {
      &:hover {
        color: $azul;
        border-color: white;

        &::after {
          background: white;
        }
      }
    }
  }
}

section.hero {
  width: 100vw;
  height: 100vh;
  background: $azul;
  color: white;

  .container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  #lottie {
    margin-top: 111px;
    width: 198px;
    height: 282px;
    object-fit: contain;

    @include small-up {
      width: 300px;
      height: 400px; 
    }

    @include medium-up {
      width: 450px;
      height: 587px;
    }
  }

  .wrapper {
    margin: 55px 0 55px auto;

    & > h4 {
      transition: all 500ms ease-in-out;;
      transform: translateY(100%);
      opacity: 0;
    }
  }

  .logo {
    display: none;

    @include small-up {
      display: block;
    }

    svg {
      transition: all 500ms 500ms ease-in-out;;
      transform: translateX(100%);
      opacity: 0;
      width: 539px;
      height: auto;
    }
  }

  &.active {
    .wrapper > h4 {
      opacity: 1;
      transform: translateY(0);
    }

    .logo > svg {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

section.clients {
  header,
  .scroll {
    @include medium-up {
      transform: translateX(33%);
    }
  }
}

section.about {
  @include medium-down {
    padding-top: 60px;
    border-top: 1px solid;
  }

  .grid {
    align-items: center;

    .left {
      max-width: 734px;
    }

    .right {
      padding: 30px;
    }
  }

  img {
    border-radius: 153px;
  }
}

section.services {
  header,
  .scroll {
    @include medium-up {
      transform: translateX(33%);
    }
  }

  .scroll {
    grid-gap: 50px;
    grid-template-columns: 200px;
    grid-auto-columns: 200px;
    grid-template-rows: minmax(200px, 1fr);

    @include medium-up {
      grid-gap: 100px;
      grid-template-columns: 350px;
      grid-auto-columns: 350px;
      grid-template-rows: minmax(350px, 1fr);
    }

    .post-image {
      display: block;

      .post-featured-image {
        @extend .circle, .hover;
      }
    }

    .post-content {
      margin-top: 40px;

      .truncate {
        line-height: 1.3;
      }
    }
  }
}
