body.home {
  width: 100vw;
  overflow-x: hidden;

  .loading-screen {
    background: $azul;
  }

  .prefooter {
    .button {
      &:hover {
        color: $azul;
        border-color: white;

        &::after {
          background: white;
        }
      }
    }
  }
}

section.hero {
  width: 100vw;
  height: 100vh;
  background: $azul;
  color: white;

  #lottie {
    margin-top: 111px;
    width: 198px;
    height: 282px;
    object-fit: contain;

    @include medium-up {
      width: 450px;
      height: 587px;
    }
  }

  .wrapper {
    margin: 55px 0 55px auto;
  }

  svg {
    width: 539px;
    height: auto;
  }
}

section.clients {
  header,
  .scroll {
    @include medium-up {
      transform: translateX(33%);
    }
  }
}

section.about {
  .grid {
    align-items: center;

    .left {
      max-width: 734px;
    }

    .right {
      padding: 30px;
    }
  }

  img {
    border-radius: 153px;
  }
}

section.services {
  header,
  .scroll {
    @include medium-up {
      transform: translateX(33%);
    }
  }

  .scroll {
    @include medium-up {
      grid-gap: 100px;
      grid-template-columns: 350px;
      grid-auto-columns: 350px;
      grid-template-rows: minmax(350px, 1fr);
    }

    .post-image {
      display: block;

      .post-featured-image {
        @extend .circle, .hover;
      }
    }

    .post-content {
      margin-top: 40px;

      .truncate {
        line-height: 1.3;
      }
    }
  }
}
