/* General */
section.single-page {
  section.entry-content {
    max-width: 735px;
  }
}

/* About */
body.about {
  .loading-screen {
    background: $lightblue;
  }
}

#page-about {
  header.page-header {
    color: $lightblue;
  }

  section.entry-content {
    h4 + h4 {
      margin-top: 25px;
    }
  }

  .grid {
    .right {
      img {
        max-width: 308px;
        max-height: 308px;

        @extend .circle;
      }
    }
  }

  & + section {
    margin-top: 40px;

    .columns {
      @include medium-up {
        column-gap: 34px;
      }

      p {
        margin: 0;

        @extend .py;
      }
    }
  }
}

/* Services */
body.services {
  .loading-screen {
    background: $topaz;
  }
}

#page-services {
  header.page-header {
    color: $topaz;
  }

  & ~ section.services {
    margin-top: 40px;

    & ~ section.prefooter {
      margin-top: 0;
    }

    article.service-full {
      position: relative;
      transition: all 250ms ease-in-out;
      border-top: 1px solid;

      &:not(.active):hover {
        cursor: pointer;

        .grid::after {
          animation: bounce 1s ease-in-out infinite alternate-reverse;
        }
      }

      .grid {
        padding-top: 53px;
        padding-bottom: 67px;
        position: relative;

        &::after {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%23000'%3E%3Cg%3E%3Cpath d='M24 6L24 24 6 24' transform='translate(-1128 -754) translate(1128 754) rotate(45 15 15)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
          background-size: contain;
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          position: absolute;
          bottom: 40px;
          right: 0;
        }

        .toggle {
          display: none;
        }

        .left {
          @include medium-up {
            grid-column: 1/4;
          }

          .wrapper {
            max-width: 253px;
          }

          img {
            max-width: 203px;
            max-height: 203px;

            @include medium-up {
              max-width: 308px;
              max-height: 308px;
            }
    
            @extend .circle, .hover;
          }

          .button {
            z-index: 1;

            @extend .inverted;
          }
        }
  
        .right {
          padding-top: 44px;
          align-self: center;

          @include medium-up {
            grid-column: 5/10;
          }

          .wrapper {
            max-width: 533px;
          }

          p:not(:first-of-type) {
            display: none;
          }

          .testimonial {
            max-width: 385px;
            padding: 30px 20px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;

            p:first-of-type {
              margin-top: 0;
            }
          }
        }
      }

      &:first-of-type {
        border-top: 0;
      }

      &:hover {
        background: $dark-blue-grey;
        color: $white;
        border-color: transparent;

        .grid {
          &::after {
            filter: invert(1);
          }
        }

        & + article {
          border-top-color: transparent;
        }
      }

      &.active {
        .grid {
          &::after {
            transform: rotate(180deg);
          }

          .toggle {
            display: block;
          }

          .right {
            p:not(:first-of-type) {
              display: block;
            }
          }
        }
      }
    }
  }
}

/* Clients */
body.clients {
  .loading-screen {
    background: $blueberry;
  }
}

#page-clients {
  header.page-header {
    color: $blueberry;
  }

  & ~ section.testimonial {
    .quote {
      margin-top: 20px;
      width: 75%;
      max-width: 960px;
    }

    .source {
      max-width: 420px;

      small {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}

section#filter-list {
  .filter-list {
    a.category {
      cursor: pointer;
      border-radius: 14.5px;
      border: 1px solid transparent;
      padding: 6px;

      &:hover {
        border-color: $black;
      }
        
      &.active,
      &:focus,
      &:active {
        border-color: $black;
      }
  
      & + a {
        margin-left: 40px;
      }
    }
  }

  ul.list {
    margin-top: 20px;

    &.grid {
      @include medium-up {
        grid-column-gap: 30px;
        grid-row-gap: 40px;
      }
    }

    & > li {
      opacity: 0;
      transition: opacity 250ms ease-in-out;

      &.visible {
        opacity: 1;
      }
    }
  }
}

/* Contact */
body.contact {
  .loading-screen {
    background: $azul;
  }
}

section#page-contact {
  header.page-header {
    color: $azul;
  }

  section.entry-content {
    h4 + p {
      margin-top: 66px;
    }
  }
}

/* Content */
body.content {
  .loading-screen {
    background: $darkish-purple;
  }
}

section#page-content {
  header.page-header {
    color: $darkish-purple;
    padding-bottom: 50px;
  }

  & ~ section:not(.prefooter) {
    margin-top: 0;
    padding-top: 50px;
  }

  & ~ header.sticky {
    position: sticky;
    top: $headerMobile;
    background: white;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 15px;

    @include medium-up {
      top: 82px;
    }

    a {
      cursor: pointer;

      small {
        font-size: 16px;
      }

      & + a {
        margin-left: 30px;

        @include medium-up {
          margin-left: 50px;
        }
      }
  
      &.active {
        color: $darkish-purple;
      }
    }
  }

  & ~ section.video-series {
    .series {
      position: relative;

      &:hover {
        background: $dark-blue-grey;
        color: $white;
      }

      &.active {
        .episode {
          &:not(:first-of-type) {
            display: block;
          }
        }

        &::after {
          transform: rotate(180deg) !important;
        }
      }

      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%23000'%3E%3Cg%3E%3Cpath d='M24 6L24 24 6 24' transform='translate(-1128 -754) translate(1128 754) rotate(45 15 15)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 50px;
        right: 50px;
      }

      &:hover {
        &::after {
          filter: invert(1);
          animation: bounce 1s ease-in-out infinite alternate-reverse;
        }
      }
    }

    .episode {
      &:not(:first-of-type) {
        display: none;
      }

      .grid {
        .left {
          @include medium-up {
            grid-column: 1/5;
          }
        }

        .right {
          @include medium-down {
            margin-top: 20px;
          }

          @include medium-up {
            grid-column: 6/10;
            align-self: center;
          }
        }
      }
    }
  }

  & ~ section.press {
    .columns {
      column-gap: 36px;
    }

    a {
      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
}

#page-404 {
  header.page-header {
    color: $azul;
  }
}